{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "curly": 1,
    "no-empty": 0,
    "@typescript-eslint/no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-empty-function": [1, { "allow": ["constructors"] }],
    "@typescript-eslint/interface-name-prefix": [2, { "prefixWithI": "always" }]
  }
}
